<link rel="import" href="/sys/polymer/polymer.html">

<template>
    <template is="dom-bind">    
        <table class="table">
            <thead>
                <tr>
                    <th>Firstname</th>
                    <th>Pets</th>
                </tr>
            </thead>
            <tbody>
                <template is="dom-repeat" items="{{model.Owners}}">
                    <tr>
                        <td>{{item.Name}}</td>
                        <td>{{item.Pet.Name}}</td>
                    </tr>
                </template>
            </tbody>
        </table>    
    </template>
</template>